# Copy this to terraform.tfvars and fill in real values.
# terraform.tfvars is gitignored — never commit secrets.

# -----------------------------------------------------------------------------
# Proxmox connection
# -----------------------------------------------------------------------------
pve_api_url   = "https://192.168.1.10:8006"
pve_api_token = "terraform@pam!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
pve_insecure  = true
pve_ssh_user  = "root"

# -----------------------------------------------------------------------------
# PVE nodes
# -----------------------------------------------------------------------------
pve_nodes = {
  pve1 = "192.168.1.10"
  pve2 = "192.168.1.11"
}

# -----------------------------------------------------------------------------
# SSH keys (paste your public key)
# -----------------------------------------------------------------------------
ssh_public_keys = [
  "ssh-ed25519 AAAA... user@workstation"
]


# -----------------------------------------------------------------------------
# LXC01 - Docker host
# -----------------------------------------------------------------------------
lxc01 = {
    vm_id       = 100
    node        = "pve01"
    ip          = "192.168.1.231"
    hostname    = "lxc01"
    cores       = 3
    memory      = 6000
    disk_size   = 128
    swap        = 4096
    storage     = "local-lvm"
    template    = "local-lvm:debian-13-standard_13.1-2_amd64.tar.zst"
}


# -----------------------------------------------------------------------------
# LXC02 - DNS host
# -----------------------------------------------------------------------------
lxc02 = {
    vm_id       = 100
    node        = "pve01"
    ip          = "192.168.1.232"
    hostname    = "lxc01"
    cores       = 3
    memory      = 6000
    disk_size   = 128
    swap        = 4096
    storage     = "local-lvm"
    template    = "local-lvm:debian-13-standard_13.1-2_amd64.tar.zst"
}

# -----------------------------------------------------------------------------
# LXC03 - DNS host
# -----------------------------------------------------------------------------
lxc03 = {
    vm_id       = 102
    node        = "pve01"
    ip          = "192.168.1.233"
    hostname    = "lxc03"
    cores       = 1
    memory      = 64
    disk_size   = 1
    swap        = 64
    storage     = "local-lvm"
    template    = "local-lvm:debian-13-standard_13.1-2_amd64.tar.zst"
}



# -----------------------------------------------------------------------------
# VM01 - OPNSense
# -----------------------------------------------------------------------------
vm01 = {
  vm_id      = 100
  name       = "opnsense"
  iso        = "local:iso/OPNsense-24.7-dvd-amd64.iso"
  cores      = 2
  memory     = 2048
  disk_size  = 20
  wan_bridge = "vmbr0"
  lan_bridge = "vmbr1"
  node       = "pve01"
}