{# templates/lss/docker-compose.yml.j2 #}
services:
  gluetun:
    image: 'qmcgaw/gluetun:latest'
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - '/dev/net/tun:/dev/net/tun'
    networks:
      lss_network: null
    ports:
      - '9090:9090'
      - '6881:6881'
      - '6881:6881/udp'
    environment:
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
      VPN_SERVICE_PROVIDER: custom
      VPN_TYPE: wireguard
      WIREGUARD_ADDRESSES: {{ lss_vpn_address }}
      WIREGUARD_PRIVATE_KEY: '{{ "{{ WIREGUARD_PRIVATE_KEY }}" }}'
      WIREGUARD_PUBLIC_KEY: '{{ "{{ WIREGUARD_PUBLIC_KEY }}" }}'
      VPN_PORT_FORWARDING: 'on'
      FIREWALL_INPUT_PORTS: '9090'
      VPN_PORT_FORWARDING_PROVIDER: protonvpn
      FIREWALL_OUTBOUND_SUBNETS: 10.0.0.0/16
      VPN_ENDPOINT_PORT: '{{ lss_vpn_endpoint_port }}'
      UPDATER_PERIOD: 24h
      VPN_ENDPOINT_IP: {{ lss_vpn_endpoint_ip }}
      VPN_DNS_ADDRESS: {{ lss_vpn_dns }}
    volumes:
      - '{{ lss_config_dir }}/gluetun:/gluetun'
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - wget
        - '-q'
        - '--spider'
        - 'http://ipinfo.io'
      interval: 30s
      start_period: 30s
      timeout: 10s
      retries: 3
    env_file:
      - .env

  qbittorrent:
    image: 'lscr.io/linuxserver/qbittorrent:latest'
    container_name: qbittorrent
    network_mode: 'service:gluetun'
    environment:
      TZ: {{ lss_tz }}
      WEBUI_PORT: 9090
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/qbittorrent:/config'
      - '{{ lss_data_dir }}:/data'
    depends_on:
      gluetun:
        condition: service_healthy
    restart: unless-stopped

  prowlarr:
    image: 'lscr.io/linuxserver/prowlarr:latest'
    container_name: prowlarr
    networks:
      lss_network: null
    ports:
      - '9696:9696'
    environment:
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/prowlarr:/config'
    restart: unless-stopped

  flaresolverr:
    image: 'ghcr.io/flaresolverr/flaresolverr:latest'
    container_name: flaresolverr
    networks:
      lss_network: null
    ports:
      - '8191:8191'
    environment:
      LOG_LEVEL: info
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    restart: unless-stopped

  radarr:
    image: 'lscr.io/linuxserver/radarr:latest'
    container_name: radarr
    networks:
      lss_network: null
    ports:
      - '7878:7878'
    environment:
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/radarr:/config'
      - '{{ lss_data_dir }}:/data'
    restart: unless-stopped

  sonarr:
    image: 'lscr.io/linuxserver/sonarr:latest'
    container_name: sonarr
    networks:
      lss_network: null
    ports:
      - '8989:8989'
    environment:
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/sonarr:/config'
      - '{{ lss_data_dir }}:/data'
    restart: unless-stopped
    env_file:
      - .env

  lidarr:
    image: 'lscr.io/linuxserver/lidarr:latest'
    container_name: lidarr
    networks:
      lss_network: null
    ports:
      - '8686:8686'
    environment:
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/lidarr:/config'
      - '{{ lss_data_dir }}:/data'
    restart: unless-stopped
    env_file:
      - .env

  bazarr:
    image: 'lscr.io/linuxserver/bazarr:latest'
    container_name: bazarr
    networks:
      lss_network: null
    ports:
      - '6767:6767'
    environment:
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/bazarr:/config'
      - '{{ lss_data_dir }}/media:/data/media'
    restart: unless-stopped
    env_file:
      - .env

  jellyfin:
    image: 'jellyfin/jellyfin:latest'
    container_name: jellyfin
    ports:
      - '8096:8096'
    networks:
      lss_network: null
    environment:
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/jellyfin:/config'
      - '{{ lss_config_dir }}/jellyfin/cache:/cache'
      - '{{ lss_data_dir }}/media:/media:ro'
    restart: unless-stopped
    env_file:
      - .env

  jellyseerr:
    image: 'fallenbagel/jellyseerr:latest'
    container_name: jellyseerr
    ports:
      - '5055:5055'
    networks:
      lss_network: null
    environment:
      TZ: {{ lss_tz }}
      PUID: {{ lss_puid }}
      PGID: {{ lss_pgid }}
    volumes:
      - '{{ lss_config_dir }}/jellyseerr:/app/config'
    restart: unless-stopped
    env_file:
      - .env

  notifiarr:
    image: 'golift/notifiarr:latest'
    container_name: notifiarr
    networks:
      lss_network: null
    ports:
      - '5454:5454'
    environment:
      TZ: {{ lss_tz }}
    volumes:
      - '{{ lss_config_dir }}/notifiarr:/config'
      - '/var/run/utmp:/var/run/utmp:ro'
    restart: unless-stopped
    env_file:
      - .env

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    networks:
      lss_network: null
    volumes:
      - '{{ lss_config_dir }}/recyclarr:/config'
    environment:
      TZ: {{ lss_tz }}
    restart: unless-stopped
    env_file:
      - .env

networks:
  lss_network:
    driver: bridge
